.site-footer {
  display: block;

  .site-info {
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap;
    margin: 4.5rem 0 3rem;
    float: right;

    .menu-item {
      display: inline-flex;
      list-style: none;
      margin: 1rem 0 0;
      padding: 0;
      border-right: 1px solid #fff;
      line-height: 1;
      padding: 0 1rem;

      a {
        color: green;
      }
    }
  }
}
