.hero-img {
  height: 50px;
  min-width: 1080px;
  width: 50vw;
  max-height: 100%;
  display: block;
  background-color: blue;
  background-image: url(/project-05/assets/quotesondev.wordpress.2018-06-19.xml);
}
