#page {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  padding: 2.5%;
  width: 100%;

  color: #fff;
  font-family: Exo Web, sans-serif;
  font-size: 1rem;
  line-height: 1.5;

  .site-header {
    margin-top: inherit;
  }

  img {
    display: block;
    height: auto;
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    border: 0;
    cursor: pointer;
    height: auto;
  }
}
