#page {
  display: block;
  margin: 0 auto;
  padding: 2.5%;
  width: 100%;
  font-size: 20px;
  color: #fff;
  font-family: Exo Web, sans-serif;
  font-size: 1rem;
  line-height: 1.5;

  .site-header {
    margin-top: inherit;
  }

  img {
    height: auto;
    width: 300px;
    max-width: 100%;
    cursor: pointer;
    height: auto;

    @include tablet {
      width: 500px;
      font-size: 1.75rem;
    }
    @include desktop {
      width: 700px;
      @include center-block;
      font-size: 2.5rem;
    }
  }
}
