button {
  background-color: black;
  border: 2px solid #0c0;
  border-radius: 3px;
  color: #0c0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  padding: 0.75rem 2.25rem;
  box-shadow: none;
  text-shadow: none;
}

body {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: black;
  color: white;
  display: block;
  margin: 0 auto;
  max-width: 900px;
  padding: 2.5%;
  font-family: Exo Web, sans-serif;
  font-size: 1rem;
  line-height: 1.5;

  main {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    box-sizing: inherit;
  }
  ul {
    margin: 0px -32px -0.5rem -2.5rem;
  }
}
body {
  &::before {
    font-family: 'FontAwesome';
    font-size: 7em;
    content: '\f10d';
    color: #0c0;
    position: absolute;
    top: 238px;
    left: 189px;
  }
  &::after {
    font-family: 'FontAwesome';
    font-size: 7em;
    content: '\f10e';
    color: #0c0;
    position: absolute;
    top: 238px;
    right: 205px;
  }
}
