body {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: black;
  color: white;
  display: block;
  margin: 0 auto;
  max-width: 1080px;
  padding: 2.5%;
  width: 100%;
  font-family: Exo Web, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  .p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    box-sizing: inherit;
  }
}
