body {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: black;
  color: white;
  display: block;
  margin: 0 auto;
  max-width: 1080px;
  padding: 2.5%;
  width: 100%;
  font-family: Exo Web, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  textarea#quote-content {
    margin: 0px;
    width: 729px;
    height: 140px;
  }
}
